// 添加透明度
#l_main .post,
#l_side .widget
  opacity: 0.8

// 文章不透明,否则会影响阅读
#post.post,
#docs.post
  opacity: 1

//背景亮度
.parallax-mirror
  filter: brightness(0.5)
//首页文章标题居中
.article-title {
    text-align: center;
}

#l_main .article .headimg-div
  display: none

  //文章内导航栏颜色渐变
.l_header {
    background-image: linear-gradient(to top,#fff1eb 0,#ace0f9 100%)!important;
}
